.header{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color:white;
}
